<%- include('../partials/header') %>

    <ul>
        <% skills.forEach(function(skill) { %>
            <form action="/skills/<%=skill.id %>?_method=DELETE"
                class="delete-form" 
                method="POST"
            >
                <button type="submit">X</button>
            </form>
            <a href="/skills/<%= skill.id %>">
                <li><%= skill.skill %></li>
            </a> 
        <% }) %>
    </ul>
    <a href="/skills/new">Add Skill</a>
    
<%- include('../partials/footer') %>