<!DOCTYPE html>
<%- include('../partials/header') %>

    <p>Skill: <%= skill.skill %></p>
    <p>Started: <%= skill.started %></p>
    <p>Finished: <%= skill.completed %></p>

<%- include('../partials/footer') %>